














/*banner样式*/
#style {
	width: 1150px;
	height: 500px;
	margin: 50px auto;
}

#style .banner {
	width: 1150px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

#style .banner img {
	width: 1150px;
	height: 500px;
	display: inline-block;
	/*position: absolute;*/
	/*z-index: 1;*/
}

#style .banner .mask {
	width: 1150px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	background-color: #000;
	opacity: 0.5;
}

#style .banner .mask h3 {
	color: #fff;
	margin-top: 190px;
	font-size: 36px;
	line-height: 2em;
	text-align: center;
}

#style .banner .mask p {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
}

#style .left {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#style .right {
	position: absolute;
	top: 0;
	left: 400px;
	display: hidden;
	/*border: 1px solid red;*/
	width: 700px;
	height: 500px;
	display: none;
}

#style .right .style-box {
	width: 200px;
	height: 200px;
	/*border: 1px solid red;*/
	float: left;
	margin: 22px 15px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

#style .right .style-box .bottom {
	color: #f7f7f7;
	position: absolute;
	bottom: -22px;
	font-size: 14px;
	text-indent: 1em;
	background-color: #000;
	opacity: 0.5;
}

#style .right .style-box .bottom p:nth-child(1) {
	width: 200px;
	border-bottom: 1px dashed #999;
	padding-bottom: 2px;
}

#style .right .style-box .bottom p:nth-child(2) {
	padding-top: 2px;
}









/*轮播图样式*/
.container{
				width: 1150px;
				/*border: 1px solid red;*/
				margin: 50px auto;
				height: 380px;
				position: relative;
				overflow:hidden;
			}
			.container #cheap{
				position: absolute;
				left: 0;
				top: 0;
				/*width: 2000px;*/
			}
			#cheap .cheap-box{
				width: 345px;
				height: 380px;
				border: 1px solid #CCCCCC;
				box-sizing: border-box;
				text-align: center;
				padding: 20px 20px 0;
				float: left;
				margin: 0 18px;
				/*margin 18*/
			}
			
			#cheap .cheap-box img{
				width: 300px;
				height: 200px;
			}
			#cheap .cheap-box p{
				text-align: left;
				/*text-indent: 1em;*/
				color: #666666;
				font-size: 14px;
				margin-top: 5px;
			}
			#cheap .cheap-box p:nth-of-type(1) a{
				/*text-indent: 1em;*/
				font-weight: bold;
				color: #222;
				font-size: 18px;
			}
			#cheap .cheap-box p.price{
				margin-top: 15px;
			}
			#cheap .cheap-box p.price em{
				font-style: normal;
				font-weight: bold;
				color: #ff4163;
			}
			#cheap .cheap-box p.price b{
				color: #ff4163;
				font-size: 22px;
				
			}
			#cheap .cheap-box p.price span:nth-of-type(1){
				background-color: #ff4163;
				padding: 0 5px ;
				color: #fff;
				font-weight: bold;
				margin: 0 10px;
			}
			#cheap .cheap-box p.price span:nth-of-type(2){
				text-decoration: line-through;
			}
			#cheap .cheap-bottom{
				border-top: 1px solid #ccc;
				margin-top: 15px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				color: #666;
			}
			
			#cheap .cheap-bottom span:nth-child(1){
				display: inline-block;
				height: 35px;
				width: 150px;
				text-align: left;
				
			}
			#cheap .cheap-bottom span:nth-child(2){
				height: 35px;
				width: 150px;
				text-align: right;
				display: inline-block;
				
			}
			
			.big-container #prev{
				position: absolute;
				top: 50%;
				left: 30px;
				margin-top: -25px;
				width: 50px;height: 50px;border-radius: 50%;
				text-align: center;font-size: 30px;line-height: 50px;
				background-color: pink;
				color: #fff;
				font-weight: bold;
			}
			.big-container #next{
				position: absolute;
				top: 50%;
				right: 30px;
				margin-top: -25px;
				width: 50px;height: 50px;border-radius: 50%;
				text-align: center;font-size: 30px;line-height: 50px;
				background-color: pink;
				color: #fff;
				font-weight: bold;
			}
			.big-container{
				width: 100%;
				height: 380px;
				position: relative;
				margin-bottom: 50px;
			}